# -----------------------------------------------------------------------------
# Exclude docker artifacts
# -----------------------------------------------------------------------------
.dockerignore
Dockerfile
docker.md
docker

# -----------------------------------------------------------------------------
# Exclude gitlab and github artifacts
# -----------------------------------------------------------------------------
.github
.gitlab-ci.yml
.gitpod.Dockerfile
.gitpod.yml 
sonar-project.properties
*_git_info.json

# -----------------------------------------------------------------------------
# Exclude native build artifacts
# -----------------------------------------------------------------------------

cmake_build
**/cmake_build

build
**/build

dist
**/dist

*.o
*.a
*.so
*.dylib
*.mod
*.pyc
*.pyo

__pycache__
**/__pycache__

# -----------------------------------------------------------------------------
# Exclude Python packaging artifacts
# -----------------------------------------------------------------------------

*.egg-info
.eggs
pip-wheel-metadata

# -----------------------------------------------------------------------------
# Exclude coverage / testing
# -----------------------------------------------------------------------------

.coverage
pytest_cache
.pytest_cache

# -----------------------------------------------------------------------------
# Exclude IDE / editor
# -----------------------------------------------------------------------------

.vscode
.idea

# -----------------------------------------------------------------------------
# Exclude runtime / logs
# -----------------------------------------------------------------------------

logs
run_logs
rte_logs
output
outputs

# -----------------------------------------------------------------------------
# Exclude local virtual environments
# -----------------------------------------------------------------------------

venv
.venv
env

# -----------------------------------------------------------------------------
# Exclude editor tmp and misc files
# -----------------------------------------------------------------------------

*~
*.swp
*.tmp
*.bak*
